<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fjlcx.application.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.fjlcx.application.bean.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rl_id" jdbcType="INTEGER" property="rlId" />
    <result column="rl_code" jdbcType="VARCHAR" property="rlCode" />
    <result column="rl_name" jdbcType="VARCHAR" property="rlName" />
    <result column="rl_detail" jdbcType="VARCHAR" property="rlDetail" />
    <result column="rl_order" jdbcType="INTEGER" property="rlOrder" />
  </resultMap>
  
  <select id="selectAllOfRole" resultMap="BaseResultMap">
  	select * from oa_role where rl_code not in (select rl_code from oa_role where rl_code='ADMIN') order by rl_order
  </select>
  
  <select id="selectMaxOrder" resultType="int">
  	select max(rl_order) from oa_role
  </select>
</mapper>