<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>数字办公系统</title>
<link rel="stylesheet" id="easyuiTheme" type="text/css"
	th:href="@{/easyui/themes/default/easyui.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/icon.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="easyui-layout" data-options="fit:false,scroll:'no'">
	<div data-options="region:'west',split:true,title:'机构模块'"
		style="width: 300px;">
		<div class="easyui-panel" style="height:100%;">
			<ul id="tt" class="easyui-tree" style="padding-left:20px;">
			</ul>
		</div>
	</div>
	<div data-options="region:'center',fit:false,scroll:'no'">
		<table id="DepManage"  class="easyui-datagrid"></table>
	</div>
</body>
<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/easyui/validateExtend.js}"></script>
<script type="text/javascript" th:src="@{/easyui/treegrid-dnd.js}"></script>
<script type="text/javascript" th:src="@{/js/easyui-common.js}"></script>
<script type="text/javascript" th:src="@{/js/loading.js}"></script>
<script type="text/javascript" th:src="@{/js/department-manage.js}"></script>
</html>